.contenedor
  #enviar
    %h2 Estadísticas
    %ul
      - @stats.each do |stat|
        - unless stat.post.nil?
          %li
            = "#{stat.clicks} clicks"
            |
            = stat.post.blog.title
            |
            = link_to stat.post.title, stat.post.link
    %br
    = link_to "Regresar al administrador", admin_path
