!!!
%html
  %head
    %title Ubuntufeed
    %meta{ :charset => "utf-8" }
    %meta{ :'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
    %link{:href => "favicon.ico", :rel => "shortcut icon"}/
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    %header
      .contenedor
        .logo
        %h1
          =link_to "UbuntuFeed", root_path
        -unless request.fullpath == '/about'
          %nav
            %ul
              %li
                +
              %li
                = link_to "?", about_path
              %li
                = paginate @posts

    = yield
    %aside
    %footer
      .contenedor
    = javascript_include_tag "application"
    :javascript
      if ($(".prev").length > 0){
        $(".prev").after("#{params[:page]}")
      } else {
        $(".next").before("< 1")
      }
