!!!
%html
  %head
    %title UbuntuFeed | Noticias de Ubuntu en espa単ol
    %meta{ :charset => "utf-8" }
    %meta{ :'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :content => 'width=device-width', :name => 'viewport' }
    %meta{ :content => "Centralizador de feeds de los blogs mas famosos sobre Ubuntu y Linux en espa単ol.", :name => "description" }
    %meta{ :content => "UbuntuFeed | Noticias de Ubuntu en espa単ol", :property => "og:title"}
    %meta{ :content => "Centralizador de feeds de los blogs mas famosos sobre Ubuntu y Linux en espa単ol.", :property => "og:description"}
    %meta{ :content => "http://ubuntufeed.herokuapp.com/logo.png", :property => "og:image"}
    %link{ :href => "favicon.ico", :rel => "shortcut icon"}
    = auto_discovery_link_tag(:rss, "http://ubuntufeed.herokuapp.com/")
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    %header
      .contenedor
        .logo
        %h1
          =link_to "UbuntuFeed", root_path
        %nav
          %ul
            %li
              = link_to "+", enviar_path
            %li
              = link_to "?", about_path
            %li
              -if @posts
                = paginate @posts
              -else
                =link_to "< 0 >", root_path
    = yield
    %aside
    %footer
      .contenedor
    = javascript_include_tag "application"
    :javascript
      if ($(".prev").length > 0){
        $(".prev").after("#{params[:page]}")
      } else {
        $(".next").before("< 1")
      }
